nav {
    margin-bottom: 50px;
}

.formular-container {
    background-color: rgb(216, 221, 245);
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    background-color: #a4cbf5;
    margin-bottom: 10px;
}

.nav-link:hover {
    font-weight: bold;
}

.navbar-brand {
    padding-right: 15px;
}

.navbar-nav .nav-item {
    padding-left: 15px;
}

.brand-text {
    font-size: 30px;
    font-weight: bold;
    color: #eff2f7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.btn-search {
    background-color: #f1edff;
}

.btn-secondary {
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
    padding: 15px;
    color: #fff;
    text-align: center;
}
